<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title12</title>
  <!-- Styles -->
  <link href="{{ mix('backend/css/admin.css') }}" type="text/css" rel="stylesheet" />
</head>
<body>
    {{ name }}
</body>
</html>